NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STRAPI_URL=http://127.0.0.1:1337

STRAPI_URL=http://127.0.0.1:1337
STRAPI_PUBLIC_URL=http://127.0.0.1:1337
STRAPI_API_TOKEN=
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

STRAPI_APP_KEYS=
STRAPI_API_TOKEN_SALT=
STRAPI_ADMIN_JWT_SECRET=
STRAPI_TRANSFER_TOKEN_SALT=
STRAPI_JWT_SECRET=

NEXT_REVALIDATE_SECRET=
STRAPI_WEBHOOK_SECRET=
PREVIEW_SECRET=

DATABASE_URL=
DATABASE_SSL=false
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=portfolio
POSTGRES_USER=portfolio
POSTGRES_PASSWORD=
