# deps
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next
.next/
out/

# Strapi generated admin artifacts
strapi/.strapi/
strapi/.strapi-updater.json

# production
build/
deploy/nginx/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
